@model IEnumerable<TennisProject.Models.AspNetUser>

@{
    ViewData["Title"] = "Coaches";
}

<h1>Coaches</h1>

<p>
    <a asp-action="Create">Coaches</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
    
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
         
        
            
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
         
        
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
     
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
          

                    <a href="Coaches/GetCoachSchedules/@item.Id"> viewSchedule </a>
                </td>
        </tr>
}
    </tbody>
</table>
